useDynLib(frontiles)

import(classInt)
import(colorspace)
import(methods)
import(rgl)
import(sp)

export(alphafrontier.2d, alphafrontier.3d, alphascore, ordermfrontier.2d, ordermscore, ordermscore.boot, ROCscore)
